@font-face {
  font-family: "QuicksandLight";
  src: url('../static/fonts/Quicksand/Quicksand-Light.otf') format('opentype');
}

@font-face {
  font-family: "QuicksandNormal";
  src: url('../static/fonts/Quicksand/Quicksand-Regular.otf') format('opentype');
}
