<footer>
  <div class="owner">

  <p>
    <a href="https://github.com/tryggvigy" class="avatar" target="_blank">
    <img src="https://avatars3.githubusercontent.com/u/2373958?v=2&amp;s=200"  width="88" height="88">
    </a>
    View <a href="https://github.com/tryggvigy">tryggvigy</a> on <a href="https://www.github.com" target="_blank">GitHub</a>
  </p>

  </div>
  <div class="creds">
        <small>Send me an email via
          <a href="http://postur.hi.is/" target="_blank">trg8@hi.is</a>
            <br>
          theme by
          <a href="https://twitter.com/jonrohan/" target="_blank">Jon Rohan</a></small>
  </div>
</footer>
