
<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on http://github.com/jonrohan -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

<body>


  <div class="wrapper">

    {% include nav.html %}

    <div id="container">
      <p class="tagline">A blog for Vefforitun</p>
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          <a href="https://github.com/tryggvigy" target="_blank" class="code">View TryggviGy on GitHub</a>
          <a href="https://github.com/tryggvigy/tryggvigy.github.io/tarball/master" class="download-button tar"><span>Download</span></a>
          <a href="https://github.com/tryggvigy/tryggvigy.github.io/zipball/master" class="download-button zip"><span>Download</span></a>
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
          {{ content }}
          {% include comments.html %}
        </article>
      </div>
    </div>

    {% include footer.html %}

  </div>
  <div class="current-section">
    <a href="#top">Scroll to top</a>
    <a href="https://github.com/tryggvigy/tryggvigy.github.io/tarball/master" class="tar">tar</a>
    <a href="https://github.com/tryggvigy/tryggvigy.github.io/zipball/master" class="zip">zip</a>
    <a href="" class="code">source code</a>
    <p class="name"></p>
  </div>

  {% include google_analytics.html %}

</body>
</html>
